body {
    background-color: lightgray;
  
        background-image: url("./Assets/Images/Images_To_Use/drive-download-20201115T020825Z-001/IMG_8386.PNG")
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  main.container{
      margin-top: 10px;
      margin-right: auto;
      position: relative;
      width: 100%;
      height: auto;
      -webkit-box-shadow: 6px 5px  7px -4px rgba(0, 0, 0, 0.7);
      border-radius: 20px;
  }

  img{
      display: block;
      max-width: 250px;
      height: auto;
  }

  h3{
      font-family: Georgia, 'Times New Roman', Times, serif, cursive;
  }